@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-height: 29.7cm;
}

.with-print {
  display: none;
}

body {
  font-family: "Shippori Mincho B1", serif;
}

@page {
  size: A4;
}

.page {
  page-break-after: always;
  page-break-inside: avoid;
}

@media print {
  html,
  body {
    width: 21cm;
    height: 29.7cm;
  }

  .header {
    display: none;
  }

  .with-print {
    display: grid !important;
  }

  .without-print {
    display: none !important;
  }
}
